.reveal h1
{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);    
    margin-bottom: 0.6em;
}

.reveal h2 {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 700;
    font-size: 1.4em;
    margin-bottom: 0.6em;
}

.reveal h3
{
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 0.8em;
}

.reveal h4 {
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 0.8em;
}

.reveal section img { 
    background: #ffffff; 
    border: none; 
    box-shadow: none; 
    padding: 20px; 
    max-height: 90%;
}

.reveal em {
    font-style: italic;
    color: #92DFD3;
    font-weight: lighter;
    margin-left: 0.1em;
    margin-right: 0.2em;
}

.reveal strong, .reveal b {
    font-weight: 500;
    font-family: "fira sans";
    color: goldenrod;
}

.reveal em {
    font-style: italic;
    color: #92DFD3;
    font-weight: 300;
    margin-left: 0.1em;
    margin-right: 0.2em;
    font-family: "fira sans";
}

.reveal ul
{
    list-style-type: square;
    line-height: 1.1;    
}

.reveal ul li 
{
    font-size: 0.8em;
}

.reveal ul li:not(:last-child) {
    margin-bottom: 0.5em;    
}

.reveal ul ul
{
    list-style-type: disc;    
    margin-top: 0.2em;
    margin-left: 20px;;
}

.reveal ul ul li:not(:last-child)
{
    font-size: 0.8em;
    margin: 0.2em 0 0.2em 0;
}

/* .reveal a:hover {
    color: #adff2f;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
} */

.reveal pre { 
    margin-top: 1.6em;
    box-shadow: none; 
}

.reveal pre code {
    padding: 10px;
    font-size: 0.8em !important;
}

.reveal code { color: lightgoldenrodyellow;}

/*********
  tables
**********/

.reveal table
{
    margin-top: 1em !important;
}

.reveal table th
{
    color: aquamarine !important;
}

.text-error {
    color: tomato;
}

.text-ok {
    color: yellowgreen;
}

.reveal p.margin-top-01 
{
    margin-top: 2em !important;
    padding-top: 1em !important;
}

.reveal hr
{
    /* padding-top: 0.5em; */
    border-width: 0;
}

.fira-sans-heavy { 
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 20px rgba(255,255,255,0.3);
    font-family: "Fira Sans";
    font-weight: 600 !important;
}

.code-hide-opacity {
    opacity: 0.2 !important;
}